@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: rgb(14, 14, 22);
  --color-text-secondary: rgb(162, 162, 194);
  --color-text-primary: rgb(205, 202, 226);
  --color-button-background: rgb(105, 74, 255);
  --color-input-background: rgb(28 27 45);
}

@layer base {
  body {
    @apply bg-background text-text-secondary;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-text-primary font-bold;
  }

  input {
    @apply bg-input-background p-3 rounded-lg w-full;
  }
  label {
    @apply font-medium;
  }
  button {
    @apply text-white bg-button-background hover:bg-button-background/80 active:bg-button-background/60 p-3 rounded-lg font-medium transition-all duration-100 cursor-pointer;
  }
}
